<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>微行</title>

	<!-- Bootstrap core CSS -->

	<link rel="stylesheet" href="/css/bootstrap.css" />
	<link rel="stylesheet" href="/css/font-awesome.css" />
	<link rel="stylesheet" href="/css/bootstrap-theme.css" />
	<link rel="stylesheet" href="/css/flex-slider.css" />
	<link rel="stylesheet" href="/css/loginpage.css" />
	<link rel="stylesheet" href="/css/animate.min.css" />
	<link rel="stylesheet" href="/css/bootstrap-magnify.min.css">
	<link rel="stylesheet" href="/css/slick.css"/>

	<!--[if lt IE 9]>
	<script src="/js/html5shiv.js"></script>
	<script src="/js/respond.min.js"></script>
	<![endif]-->

	<!--[if lt IE 8]>
	<link href="/css/font-awesome-ie7.min.css" rel="stylesheet">
	<![endif]-->
	<style>
		header#header nav.navbar .navbar-header a#header_logo {
			position: absolute;
			left: 0;
			bottom: 0;
			border: 0;
			display: block;
			padding: 0;
			width: 220px;
			height: 58px;
			overflow: hidden;
			line-height: 100em;
			text-indent: 200em;
			background-repeat: no-repeat;
			background-image: url('/images/logo2.png');
		}

		header#header nav.navbar .navbar-right:last-child {
			margin-right: 0;
		}

		header#header ul.nav > li.divider-vertical {
			border-style: solid;
			border-width: 1px;
			opacity: .5;
			height: 58px;
			border-left-color: #111415;
			border-right-color: #646668;
		}

		.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
			border-color: #101010;
		}

		header#header nav.navbar#header_outer ul#header_menu {
			margin-left: 190px;
		}

		header#header nav.navbar#header_outer ul#header_menu > li.active > a {
			color: white;
			background: #555;
			box-shadow: none;
		}

		header#header nav.navbar#header_outer ul#header_menu > li > a {
			line-height: 35px;
			height: 35px;
			padding: 0 20px;
			margin-top: 12px;
			border-radius: 3px;
			color: #AAA;
		}
		* {
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box
		}
		*:before, *:after {
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box
		}
		html {
			font-size: 62.5%;
			-webkit-tap-highlight-color: rgba(0,0,0,0)
		}
		body {
			font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Segoe UI", "Microsoft Yahei", Tahoma, Arial, STHeiti, sans-serif;
			font-size: 14px;
			line-height: 1.428571429;
			color: #333;
			background-color: #fff
		}
		input, button, select, textarea {
			font-family: inherit;
			font-size: inherit;
			line-height: inherit
		}
		a {
			color: #428bca;
			text-decoration: none
		}
		a:hover, a:focus {
			color: #2a6496;
			text-decoration: underline
		}
		a:focus {
			outline: thin dotted;
			outline: 5px auto -webkit-focus-ring-color;
			outline-offset: -2px
		}
		figure {
			margin: 0
		}

		header#header ul.nav > li > a {
			height: 58px;
			line-height: 58px;
			padding-top: 0;
			padding-bottom: 0;
		}

		#contact {
			/*height: 460px;*/
			background: #7CB75E url("/images/pat.png") repeat center top;
			color: white;
			text-align: center;
		}

		#story {
			/*height: 460px;*/
			background: #7CB75E url("/images/pat.png") repeat center top;
			color: white;
			text-align: center;
		}

		#testimonials {
			border: solid 1px #E1E1E1;
			border-width: 1px 0;
			background: #F4F4F4 url("/images/div-grey-top.png") no-repeat center top;
		}

		#how {
			border: solid 1px #E1E1E1;
			border-width: 1px 0;
			background: #F4F4F4 url("/images/div-grey-top.png") no-repeat center top;
		}

		#faq {
			border: solid 1px #E1E1E1;
			border-width: 1px 0;
			background: #F4F4F4 url("/images/div-grey-top.png") no-repeat center top;
		}
		.uname{
			
		}
		.utitle{}

	</style>

</head>
<!-- NAVBAR
================================================== -->
<body data-spy="scroll">
	<!-- ******HEADER****** -->
	<header id="header">
		<!--[if lte IE 9]>
		<div id="warning_info" class="text-warning fade in mb_0">
		<button data-dismiss="alert" class="close" type="button">×</button>
		<strong>您正在使用低版本浏览器，</strong> 在本页面的显示效果可能有差异。
		建议您升级到
		<a href="http://www.google.cn/intl/zh-CN/chrome/" target="_blank">Chrome</a>
		或以下浏览器：
		<a href="www.mozilla.org/en-US/firefox/‎" target="_blank">Firefox</a> /
		<a href="http://www.apple.com.cn/safari/" target="_blank">Safari</a> /
		<a href="http://www.opera.com/" target="_blank">Opera</a> /
		<a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" target="_blank">
		Internet Explorer 10</a>
		</div>
		<![endif]-->

		<nav id="header_outer" class="navbar navbar-inverse navbar-default navbar-fixed-top" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-header-collapse" wt-tracker="Header|Collapse|Toggle Navbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a id="header_logo" class="navbar-brand" wt-tracker="Header|Logo|Goto Index" href="/" title="Worktile">微行</a>
			</div>
			<div class="collapse navbar-collapse navbar-header-collapse">

				<ul id="header_menu" class="nav navbar-nav">
					<li class="active">
						<a class="scrollto scrollmenu" href="#promo" id="item1"><img src="/images/menu1.png"></a>
					</li>
					<li>
						<a class="scrollto scrollmenu" href="#features" wt-tracker="Header|Menu|Goto Signin" id="item2"><img src="/images/menu2.png"></a>
					</li>
					<li>
						<a class="scrollto scrollmenu" href="#how"  id="item3"><img src="/images/menu3.png"></a>
					</li>
					<li>
						<a class="scrollto scrollmenu" href="#faq" id="item4"><img src="/images/menu4.png"></a>
					</li>
					<li>
						<a class="scrollto scrollmenu" href="#story" id="item5"><img src="/images/menu5.png"></a>
					</li>

					<li>
						<a class="scrollto scrollmenu" href="#contact" id="item6"><img src="/images/menu6.png"></a>
					</li>
				</ul>

				<ul class="nav navbar-nav navbar-right ng-scope" ng-controller="user_ctrl" id="header_me">
					<li class="divider-vertical hidden-xs"></li>

					<li>
						<a class="mr_15" href="/agency/login" target="blank"><i class="fa fa-desktop">&nbsp;代理商登录</i></a>
					</li>

				</ul>
			</div>
		</nav>

	</header>

	<!-- ******PROMO****** -->
	<section id="promo"></section>
	<section id="promo1" class="promo section offset-header has-pattern">
		<div class="container" style="width:1200px">
			<div class="row">
				<div class="col-xs-1"></div>
				<div class="overview col-xs-6">
					<h2 class="title pull-left" style="font-size: 70px;color:white"><b>移动 沟通</b></h2>
					<ul class="summary pull-left" style="color: white">
						<h3><b>我们让移动沟通更自然</b></h3>
						<h3><b>为您轻松创造价值 </b></h3>
					</ul>
					<div class="download-area" style="position: relative;right:70px">
						<ul class="btn-group list-inline">
							<li class="ios-btn pull-left">
								<a href="#" onclick="showpc()">Download from the App Store</a>
							</li>
							<li class="android-btn">
								<a href="#" onclick="showmobile()">Get it from Google Play</a>
							</li>
						</ul>
					</div>
				</div><!--//overview-->

				<!--// iPhone starts -->
				<div class="phone iphone iphone-black col-xs-4">
					<div class="iphone-holder phone-holder">
						<div class="iphone-holder-inner" >
							<div class="slider flexslider">
								<ul class="slides">
									<li>
										<img src="/images/slide-1.png"  alt="" />
									</li>
									<li>
										<img src="/images/slide-2.png"  alt="" />
									</li>
									<li>
										<img src="/images/slide-3.png"  alt="" />
									</li>
								</ul><!--//slides-->
							</div><!--//flexslider-->
						</div><!--//iphone-holder-inner-->
					</div><!--//iphone-holder-->
				</div><!--//iphone-->
				<div class="col-xs-1"></div>
				<!--// iPhone ends -->

			</div><!--//row-->
		</div><!--//container-->
	</section><!--//promo-->

	<section id="promo2" class="promo section offset-header has-pattern" style="display:none;">
		<div class="container"  style="width:1300px">
			<div class="row">
				<div class="col-xs-1"></div>
				<div class="overview col-xs-5">
					<h2 class="title pull-left" style="font-size: 70px;color:white"><b>实用 好用 &nbsp;</b></h2>
					<ul class="summary pull-left" style="color: white">

						<h3><b>实用的功能</b></h3>
						<h3><b>不多 不少</b></h3>

					</ul>
					<div class="download-area" style="position: relative;right:70px">
						<ul class="btn-group list-inline">
							<li class="ios-btn">
								<a href="#">Download from the App Store</a>
							</li>
							<li class="android-btn">
								<a href="#" onclick="showmobile()">Get it from Google Play</a>
							</li>
						</ul>
					</div>
				</div><!--//overview-->

				<!--// iPad starts -->
				<div class="ipad ipad-black col-xs-6">
					<div class="ipad-holder">
						<div class="ipad-holder-inner">
							<div class="slider flexslider">
								<ul class="slides">
									<li>
										<img data-toggle="magnify" src="/images/ipadslide2.png"  alt="" />
									</li>
									<li>
										<img data-toggle="magnify" src="/images/ipadslide2.png"  alt="" />
									</li>
									<li>
										<img data-toggle="magnify" src="/images/ipadslide2.png"  alt="" />
									</li>
								</ul><!--//slides-->
							</div><!--//flexslider-->
						</div><!--//ipad-holder-inner-->
					</div><!--//ipad-holder-->
				</div><!--//ipad-->
				<!--// iPad ends -->

			</div><!--//row-->
		</div><!--//container-->
	</section><!--//promo-->

	<!-- ******FEATURES****** -->
	<section id="features" class="features section">
		<div class="container">
			<div class="row">
				<h2 class="title text-center sr-only">Features</h2>
				<div class="item col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="icon2">
						<img src="/images/upload_128px.png" />
					</div><!--//icon-->
					<div class="content">
						<img src="/images/des1.png">
						<h3 class="title"></h3>
						<p>
							微行基于最新云技术搭建 可自动扩容 无需担心维护
						</p>
					</div><!--//content-->
				</div><!--//item-->
				<div class="item col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="icon2">
						<img src="/images/meter_128px.png" />
					</div><!--//icon-->
					<div class="content">
						<img src="/images/des2.png">
						<h3 class="title"></h3>
						<p>
							不需要空间申请 域名申请的繁琐步骤 应用瞬间上线
						</p>
					</div><!--//content-->
				</div><!--//item-->
				<div class="item col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="icon2">
						<img src="/images/trends_128px.png" />
					</div><!--//icon-->
					<div class="content">
						<img src="/images/des3.png">
						<h3 class="title"></h3>
						<p>
							云技术使我们可以帮您节省支出 用多少买多少 不浪费
						</p>
					</div><!--//content-->
				</div><!--//item-->

				<div class="item col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="icon2">
						<img src="/images/tools_128px.png" />
					</div><!--//icon-->
					<div class="content">
						<img src="/images/des4.png">
						<h3 class="title"></h3>
						<p>
							精心打造的行业app 每一个功能都实际可用 不做过度开发
						</p>
					</div><!--//content-->
				</div><!--//item-->
			</div><!--//row-->

			<div class="row">
				<div class="item col-md-4 col-sm-6 col-xs-12 text-center">
					<div class="icon2">
						<img src="/images/security_128px.png" />
					</div><!--//icon-->
					<div class="content">
						<img src="/images/des5.png">
						<h3 class="title"></h3>
						<p>
							采用业界尖端加密技术保护您的商业信息 我们也不掌握您的密码
						</p>
					</div><!--//content-->
				</div><!--//item-->
				<div class="item col-md-4 col-sm-6 col-xs-12 text-center">
					<div class="icon2">
						<img src="/images/settings_128px.png" />
					</div><!--//icon-->
					<div class="content">
						<img src="/images/des6.png">
						<h3 class="title"></h3>
						<p>
							应用开通 支付 上线 停止操作全部自助操作  并提供代理商管理界面
						</p>
					</div><!--//content-->
				</div><!--//item-->
				<div class="item col-md-4 col-sm-6 col-xs-12 text-center">
					<div class="icon2">
						<img src="/images/clock_128px.png" />
					</div><!--//icon-->
					<div class="content">
						<img src="/images/des7.png">
						<h3 class="title"></h3>
						<p>
							出现问题？ 不用担心 我们的服务团队随时在线解决
						</p>
					</div><!--//content-->
				</div><!--//item-->
			</div><!--//row-->
		</div><!--//container-->
	</section><!--//features-->

	<!-- ******HOW****** -->
	<section id="how" class="how section has-pattern">
		<div class="container">
			<div class="row">
				<div class="content col-md-6 col-sm-6 col-xs-12 col-md-push-6 col-sm-push-6 text-center">
					<img src="/images/guide.png">
					<h2 class="title"></h2>
					<p class="intro">
						我们的教程会指导您从零开始搭建微信会员卡应用
					</p>
					<div class="qr-codes hidden-sm hidden-xs">
						<div class="note">
							<p>
								查看示例系统
							</p>
							<span class="left-arrow"></span>
							<span class="right-arrow"></span>
						</div><!--//note-->
						<div class="row">
							<div class="item col-md-6 col-sm-6">
								<img src="/images/qr-1.png" alt="" />
								<p>
									微行微系统
								</p>
							</div><!--//item-->
							<div class="item col-md-6 col-sm-6">
								<img src="/images/qr-1.png" alt="" />
								<p>
									会员卡示例账号
								</p>
							</div><!--//item-->
						</div>
					</div><!--//qr-codes-->
				</div><!--//content-->
				<div id="guide-container" class="video-container col-md-6 col-sm-6 col-xs-12 col-md-pull-6 col-sm-pull-6" style="padding-bottom:10px">
					<div><img src="/images/guide1.jpg">
					</div>
					<div><img src="/images/guide2.jpg">
					</div>
					<div><img src="/images/guide3.jpg">
					</div>
					<div><img src="/images/guide4.jpg">
					</div>
					<div><img src="/images/guide5.jpg">
					</div>

				</div><!--//video-->
			</div><!--//row-->
		</div><!--//container-->
	</section><!--//how-->

	<!-- ******FAQ****** -->
	<section id="faq" class="faq section">
		<div class="container" class="faqcon">
			<div class="row">
				<h2 class="title text-center"><img src="/images/faq.png"></h2>
				<div class="faq-col col-md-6 col-sm-6 col-xs-12">
					<div class="item">
						<h3 class="question"><i class="fa fa-question-circle"></i>微行是做什么的?</h3>
						<p class="answer">
							简单的说, 微行能让你快速上线一个移动app的平台, 我们提供现成的软件, 空间, 和解决方案, 供您来搭建自己的营销应用。
						</p>
					</div><!--//item-->
					<div class="item">
						<h3 class="question"><i class="fa fa-question-circle"></i>微行有什么产品?</h3>
						<p class="answer">
							现在我们上线的只有<span data-toggle="tooltip" title="我不是错别字，我是品牌名">汇员卡</span>应用。后续上线的是照片墙，朋友店，家校通，以及微OA应用。都是性价比无与伦比的产品，敬请期待。
						</p>
					</div><!--//item-->
					<div class="item">
						<h3 class="question"><i class="fa fa-question-circle"></i>多少实际用户在使用微行?</h3>
						<p class="answer">
							本页面下方有<a class="scrollto" href="#contact">一组计数器</a>，显示每个应用的装机用户数量，这个数字是从数据库实时取出的。
						</p>
					</div><!--//item-->
					<div class="item">
						<h3 class="question"><i class="fa fa-question-circle"></i>微行提供什么样的培训和技术支持?</h3>
						<p class="answer">
							我们尽力使我们的产品自动化，并提供完整的说明文档. 如果您还有不明白的问题，请放心联系我们。云平台技术让我们可以轻易提供全时的免费技术支持。
						</p>
					</div><!--//item-->

				</div><!--//faq-col-->
				<div class="faq-col col-md-6 col-sm-6 col-xs-12">
					<div class="item">
						<h3 class="question"><i class="fa fa-question-circle"></i>能看一下过往客户的示例么?</h3>
						<p class="answer">
							您可以去参考我们的示例。我们的应用搭建十分简单，您可以<a href="http://www.weexing.com/agency">申请一个免费账号</a>，自己搭建一个应用体验。
					</div><!--//item-->
					<div class="item">
						<h3 class="question"><i class="fa fa-question-circle"></i>怎么做微行的代理商?</h3>
						<p class="answer">
							如果您觉得我们的产品不错，我们很欢迎您帮助我们拓展线下市场，我们会给代理商提供基于云的<a href="http://www.weexing.com/agency">客户管理平台</a>，不需要您懂任何技术，您的自有客户的控制权全部下放。
						</p>
					</div><!--//item-->
					<div class="item">
						<h3 class="question"><i class="fa fa-question-circle"></i>做代理商有什么样的优惠政策?</h3>
						<p class="answer">
							我们会给您提供专有的客户管理平台，经过一系列免费的认证流程后，我们会给您提供售前资料(小册子，ppt)，您无需垫付任何资金。
						</p>
					</div><!--//item-->
					<div class="item">
						<h3 class="question"><i class="fa fa-question-circle"></i>微行的方向是什么?</h3>
						<p class="answer">
							我们的目标是以更高的性价比给您提供业界一流的精品应用。我们的应用关注的不只是展示，我们更关注可用性和用户粘度。
						</p>
					</div><!--//item-->
				</div><!--//faq-col-->
			</div><!--//row-->
			<div class="more text-center">
				<h4 class="title">还有问题?</h4>
				<a class="btn btn-lg btn-theme scrollto" href="#contact">向我们提问<i class="fa fa-arrow-circle-o-down"></i></a>
			</div>
		</div><!--//container-->
	</section><!--//faq-->

	<!-- ******STORY****** -->
	<section id="story" class="story section has-pattern">
		<div class="container">
			<div class="row">
				<div class="content col-md-5 col-sm-6 col-xs-12 text-center">
					<img src="/images/card.png">
					<div style="margin-top: 50px">
						<p>
							<img src="/images/free.png">
						</p>
					</div>

				</div><!--//content-->
				<div class="team col-md-6 col-sm-5 col-md-offset-1 col-sm-offset-1 col-xs-12">
					<div class="row">
						<div class="col-md-6 pricetag">
							<div class="panel panel-success" style="color:black">
								<div class="cnrflash">
									<div class="cnrflash-inner">
										<span class="cnrflash-label">限时
											<br>
											免费</span>
									</div>
								</div>
								<div class="panel-heading">
									<h3 class="panel-title"> 汇员卡</h3>
								</div>
								<div class="panel-body">
									<div class="the-price">
										<h1> ￥0<span class="subscript">/年</span></h1>
										<small>限时抢购 终生免费</small>
									</div>
									<table class="table">
										<tbody>
											<tr>
												<td> 1个账户 </td>
											</tr>
											<tr class="active">
												<td> 1000会员上限 </td>
											</tr>
											<tr>
												<td> 50张优惠券上限 </td>
											</tr>
											<tr class="active">
												<td> CRM后台管理 </td>
											</tr>

										</tbody>
									</table>
								</div>
								<div class="panel-footer">
									<a href="http://www.weexing.com/agency" class="btn btn-success" role="button" target="blank">注册并使用</a>
								</div>
							</div>
						</div>

						<div class="col-md-6 pricetag">
							<div class="panel panel-default" style="color:#CCCCCC">

								<div class="panel-heading">
									<h3 class="panel-title"> 微行秀</h3>
								</div>
								<div class="panel-body">
									<div class="the-price">
										<h1> ￥500<span class="subscript">/年</span></h1>
										<small>无限支持</small>
									</div>
									<table class="table">
										<tbody>
											<tr>
												<td> 1个账户 </td>
											</tr>
											<tr class="active">
												<td> 1000会员上限 </td>
											</tr>
											<tr>
												<td> 30套模板上限 </td>
											</tr>
											<tr class="active">
												<td> CRM后台管理 </td>
											</tr>

										</tbody>
									</table>
								</div>
								<div class="panel-footer">
									<a href="http://www.jquery2dotnet.com" class="btn btn-default disabled" role="button">注册并使用</a>
								</div>
							</div>
						</div>

					</div>
				</div><!--//team-->
			</div><!--//row-->
		</div><!--//container-->
	</section><!--//story-->

	<!-- ******TESTIMONIALS****** -->
	<section id="testimonials" class="testimonials section">
				<h2 class="title text-center"><img src="/images/howtheysay.png"></h2>
				
			<div class="press row text-center">
				<h3 class="note"></h3>
				<ul class="col-md-12 list-inline">
					<li>
						<a data-toggle="popover" data-placement="bottom" data-content="微行qq群号:166706916" id="groupnum"><img class="img-responsive" src="/images/group2.png" alt="" /></a>
					</li>
					<li class="last">
						<a data-toggle="popover" data-placement="bottom" data-content="微行咨询qq号:166706916" id="qqnum"><img class="img-responsive" src="/images/qq2.png" alt="" /></a>
					</li>
				</ul>
			</div><!--//row-->
	</section><!--//Testimonials-->

	<!-- ******CONTACT****** -->
	<section id="contact" class="contact section has-pattern">
		<div class="container">
			<div class="row text-center">
				<h2 class="title">联系我们</h2>
				<div class="intro col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
					<p>
						感谢光临，若您对我们的产品或服务感兴趣,请通过如下的方式联系我们。
					</p>
					<ul class="list-unstyled contact-details">
						<li>
							<i class="fa fa-envelope"></i><a href="mailto:sales@weexing.com">sales@weexing.com</a>
						</li>
						<li>
							<i class="fa fa-phone-square"></i>0800 123 456
						</li>
					</ul>
				</div>
			</div><!--//row-->
			<div class="row text-center">
				<div class="contact-form col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
					<form class="form" id="commentform">
						<div class="form-group name">
							<label class="sr-only" for="name">公司</label>
							<input id="name" type="text" class="form-control" placeholder="公司:">
						</div><!--//form-group-->
						<div class="form-group email">
							<label class="sr-only" for="email">电邮</label>
							<input id="email" type="email" class="form-control" placeholder="电邮:">
						</div><!--//form-group-->
						<div class="form-group message">
							<label class="sr-only" for="message">留言</label>
							<textarea id="message" class="form-control" rows="6" placeholder="留言:"></textarea>
						</div><!--//form-group-->
						<button class="btn btn-lg btn-theme" onclick="sendcomment()">
							发送留言
						</button>
					</form><!--//form-->
				</div><!--//contact-form-->
			</div><!--//row-->
			<div class="text-center">
				<ul class="social-icons list-inline animated fadeInUp delayp4" style="opacity: 0; ">
					<li>
						<a href="#" class="counter" data-toggle="tooltip" title="汇员卡用户计数"  id="formdiv"><b>12</b></br><i class="fa fa-credit-card"></i></a>
					</li>
					<li>
						<a href="#" class="counter" data-toggle="tooltip" title="微行秀用户计数"><b>0</b></br><i class="fa fa-comments-o"></i></a>
					</li>
					<li>
						<a href="#" class="counter" data-toggle="tooltip" title="家校通用户计数"><b>0</b></br><i class="fa fa-pencil-square-o"></i></a>
					</li>
					<li>
						<a href="#" class="counter" data-toggle="tooltip" title="微OA用户计数"><b>0</b></br><i class="fa fa-suitcase"></i></a>
					</li>
				</ul>
			</div><!--//row-->
		</div><!--//container-->
	</section><!--//contact-->
	<!-- ******FOOTER****** -->
	<footer class="footer">
		<div class="container" style="text-align: center">
			<small class="copyright">Copyright &copy; 2014 Weexing MicroSystem&nbsp;&nbsp;微行微系统 <a href="http	://www.miitbeian.gov.cn">粤ICP备14018684号-1</a></small>
		</div>
	</footer><!--//footer-->

	<!-- *****CONFIGURE STYLE****** -->

	<script src="/js/jquery.min.js"></script>
	<script src="/js/jquery-migrate-1.2.1.min.js"></script>
	<script src="/js/detectmobilebrowser.js"></script>
	<script src="/js/jquery.easing.1.3.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/jquery.inview.min.js"></script>
	<script src="/js/jquery.fitvids.js"></script>
	<script src="/js/jquery.scrollTo.min.js"></script>
	<script src="/js/jquery.placeholder.js"></script>
	<script src="/js/jquery.flexslider-min.js"></script>
	<script src="/js/loginpage.js"></script>
	<script src="/js/notify-custom.js"></script>
	<script src="/js/bootstrap-magnify.min.js"></script>
	<script src="/js/slick.js"></script>

	<!--[if !IE]>-->
	<script src="/js/animations.js"></script>
	<!--<![endif]-->

	<script>
		var currentmenu = 'item1';
		$('#guide-container').slick({
			dots : true,
			arrows : false
		});
		
			$('#voice').slick({
			dots : true,
			arrows : false,
			speed:800,
			autoplaySpeed : 2000
		});

		$(".scrollmenu").bind("click", function() {
			if (currentmenu == $(this).attr('id')) {

			} else {
				$("#" + currentmenu).parent().removeClass("active");
				$(this).parent().addClass("active");
				currentmenu = $(this).attr('id');
			}
		});

		function changemenu(ref) {

		}
	</script>
</body>

