<div id="wrapper" class="shopswrapper">

	<ul class="float">
		<% @shops.each do |shop| %>
		<li class="shopgrid">
			<h1><%= shop.name%></h1>
		</li>
		<% end %>
	</ul>
</div>
<div class="digg_pagination shop_pag">
	<%= ajax_will_paginate @shops %>
</div>
