
<body>
	<div data-role="page" id="home" data-theme="a" data-fullscreen="true">
		<div data-role="header"></div><!-- /header -->
		<div data-role="content">
			<div id="card" class="cardhead">
				<div id='cs'>
					<%= image_tag card%>
				</div>
			</div>
			<div id="customer">
				<div data-template>
					<div style="display: none" id="customerid">{{id}}</div>

					<div class="ui-grid-b">
						<div class="ui-block-a">
							<div class="content-title">
								<strong>储值</strong>
								<div class="content-value">
									{{balance}}
								</div>
							</div>
						</div>
						<div class="ui-block-b">
							<div class="content-title">
								<strong>积分</strong>
								<div class="content-value">
									80
								</div>
							</div>

						</div>
						<div class="ui-block-c">
							<div class="content-title">
								<strong>级别</strong>
								<div class="content-value">
									{{level}}
								</div>
							</div>
						</div>

					</div>
				

			

			<ul data-role="listview" data-inset="true">
				<li>
					<a href="#coupon" class="ui-icon-star ui-btn-icon-left">优惠</a>
					<span class="ui-li-count countBubl" id="coupon_num">
						<div data-template>
							{{coupon_num}}
						</div></span>
				</li>
				<li>
					<a href="#contact">联系我们</a>
				</li>

			</ul>
			
			</div>
         </div>
		</div><!-- /content -->
	</div>
	<div data-role="page" id="coupon" data-fullscreen="true">

		<div data-role="header">
			<h1>优惠卷</h1>
			<a href="#home" data-icon="back" data-iconpos="left" data-direction="reverse" class="ui-btn-left">后退</a>
		</div>
		<div data-role="content">
			<ul data-role="listview" id="coupons" style="overflow-y:visible">
				<li data-template  style="overflow-y:visible">
					<img src="" data-src="{{pic}}" alt="" height="40" /><h3>{{title}}</h3>
					<p>
						{{content}}<a style="background:white" href="#" onclick="test({{id}})">使用</a>
					</p>

				</li>
				<li data-template-fallback>
					Sorry, JavaScript required!
				</li>
			</ul>
		</div>
	</div>
	
	
		<div data-role="page" id="contact" data-fullscreen="true">

		<div data-role="header">
			<h1>联系方式</h1>
			<a href="#home" data-icon="back" data-iconpos="left" data-direction="reverse" class="ui-btn-left">后退</a>
		</div>
		<div data-role="content">
			<ul data-role="listview" id="contacts" style="overflow-y:visible">
				<li style="overflow-y:visible">
					<p>
						地址
					</p>

				</li>
				<li style="overflow-y:visible">
					<p>
						电话
					</p>

				</li>
				<li style="overflow-y:visible">
					<p>
						移动电话
					</p>

				</li>
				
			</ul>
		</div>
	</div>
	
<script><script>
</body>

