<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>微行平台注册</title>
		<%= stylesheet_link_tag "common1.css" %>
		<%= stylesheet_link_tag "common2.css" %>
		<%= stylesheet_link_tag "component.css" %>

	</head>
	<body class="zh_CN realnameRegPage">
		<div id="header" class="header">
			<div class="logo_area">
				<div class="wrapper">
					<img src="/images/weixing.png" onClick="javascript:location.href='/'" alt="微行平台">
					<span class="hd_login_info"> <a class="account_primary_link" href="http://crm2.qq.com/page/portalpage/wpa.php?uin=40012345&amp;f=1&amp;ty=1&amp;ap=000011:400792:%7Cm:12%7Cf:400792:m:12" target="_blank"> 在线客服 </a> </span>
				</div>
				<!--end of wrapper-->
			</div><!--end of logo_area-->
		</div><!--end of header-->
		<div class="container-wrapper">
			<div id="main" class="container">
				<div class="containerBox boxIndex">
					<div class="rn-reg-t-wrapper group">
						<ul>
							<li class="tc left rn-reg-t current" id="info">
								验证失败
							</li>
							
						</ul>
					</div>

					<div style="display: block;" class="rn-box check-box">
						<div class="frm">
							<div class="frm-hd">
								<div class="frm-msg">
									<span class="msg-pic"><i class="user-icon email-icon"></i></span>
									<div class="frm-msg-content" style="padding-top:5px">
										<h3 class="frm-msg-t">帐号激活失败!</h3>
										<p class="frm-msg-text">
											您要激活的账号不存在，或者已经被激活，请<a href="/homepage/regist">重新注册</a>或<a href="homepage/login">直接登录</a>。如有疑问，请联系 webmaster@weexing.com
										</p>
									</div>
								</div>
							</div>
							
						</div>
					</div>

				</div>
			</div>
		</div>
		<div id="footer" class="footer">
			<span> <a target="_blank" href="http://www.tencent.com/zh-cn/index.shtml">关于微行</a>&nbsp;|&nbsp; <a target="_blank" href="https://mp.weixin.qq.com/cgi-bin/readtemplate?t=home/agreement_tmpl&amp;type=info&amp;lang=zh_CN">服务协议</a>&nbsp;|&nbsp; <a target="_blank" href="http://kf.qq.com/product/weixinmp.html">客服中心</a> &nbsp;|&nbsp; <a href="http://crm2.qq.com/page/portalpage/wpa.php?uin=40012345&amp;f=1&amp;ty=1&amp;ap=000011:400792:%7Cm:12%7Cf:400792:m:12" target="_blank">在线客服</a>&nbsp;|&nbsp; <a target="_blank" href="mailto:weixinmp@qq.com">联系邮箱</a>&nbsp;|&nbsp; <a target="_blank" href="https://mp.weixin.qq.com/cgi-bin/readtemplate?t=home/infringement_tmpl&amp;lang=zh_CN">侵权投诉</a> </span><span>Copyright&nbsp;© 2012-2013 Weixing. All Rights Reserved.</span>
		</div>

	</body>
</html>