<!DOCTYPE html>
<html lang="en">
	<head>
		<title>微行  代理平台</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/css/unicorn-login.css" />
		<script type="text/javascript" src="/js/respond.min.js"></script>
	</head>
	<body>
		<div id="container">
			<div id="logo">
				<img src="/images/agency/logo2.png" alt="" />
			</div>

			<div id="loginbox" style="height: 156px">
				<form id="loginform" action="#" >
					<p>
						<span style="color:green">充值成功</span>
					</p>

					<p>
						尊敬的王潜行(dominic@weexing.com) </br><span style="color:green">30点数</span>已经充入您的账户.
					</p>

					<div class="footer-login">
						<div class="pull-right text">
							<img src="/images/agency/powered.png" />
						</div>

					</div>

				</form>

			</div>

	</body>
</html>
