<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
			

		<title>微行-微信营销专家</title>
	</head>
	<body>
	
		<!--End of header-->
		
					<h3>登录</h3>
					<div id="login-mod">
						<div id="err_tips" style="display: inline; ">用户名/密码不正确</div>
						<!--End of err_area-->
						<div id="textarea">
						   helloworld	
						</div>
						<%=  form_tag('/test/check', remote: true) do-%>
						
							<div id="login-un">
						
 								<input id="username" name="username" placeholder="邮箱/微信号/QQ号" type="text">
							</div>
							<!--End of login-form-->
							<div id="login-pwd">
								<input id="password" name="password" placeholder="密码" type="password">
								<input name="authenticity_token" type="hidden" value="P9b6xXgCMqQgCxloZEC0y3yEbnbtEKLHQ/CDnGlCwJ4=" />
							</div>
							<!--End of login-pwd-->
				        

						   <div id="login-btn-panel">
							  <div>
								<input type="submit" id="submitbut", title= "点击登录" id="commit" value="登录" />
							  </div>
						   </div>
						<!--End of login-btn-panel-->
                       <% end -%>
					   </div><!--End of login-mod-->
				
		
		
		<!--Java Script starts from here-->

		<script type="text/javascript">
			function submit() {
				document.forms[0].submit()
			}
			
			function test(){
				alert("test");
		    }
		    
		    function test1(){
				alert("test1");
		    }

		
	</body>
</html>
