<script type="text/javascript">
	var user_name = $.trim($("#session_user").text());
	var params = "user_name=" + user_name;
	$.ajax({
		type : "POST",
		url : "/shops/index",
		data : params,
		dataType : "json",
		success : function(data) {
			//alert(data.per_page);
			Tempo.prepare("shops").render(data.shops);
		},
		error : function(data) {
			alert("error");
		}
	});
	
	function refreshShop(data){
		alert("hello");
	}

</script>
<div class="main_hd">
	<div class="title_tab" id="topTab">
		<ul class="title_tab_navs">

			<li class="title_tab_nav js_top" data-id="setting">
				<a href="#" style="text-decoration: none">商户前台管理</a>
			</li>
		</ul>
	</div>
</div>
<div class="main_bd">
	<ul id="shops">
		<li data-template>
			<p>
				{{name}} {{address}}
			</p>
		</li>
		<li data-template-fallback>
			Sorry, JavaScript required!
		</li>
	</ul>
	<%=json_will_paginate @shops %>
</div>

