<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>COCO烘焙坊</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/css/jquery.mobile.structure-1.4.2.min.css" />
		<link rel="stylesheet" href="/css/jquery.mobile-1.4.2.min.css" />
		<link rel="stylesheet" href="/css/jquery.mobile.theme-1.4.2.min.css" />
		<link href="/templates/<%= @page.to_s%>/cardstyle.css" media="screen" rel="stylesheet" />
		<link rel="stylesheet" href="/css/jquery.notific8.min.css" />
	</head>
	<body>
		<div id="customer" style="display: none"></div>
		<%= render :partial => "/templates/"+@page.to_s+"/index", :locals => { :logo=>@logopic,:card => @cardpic,:cardback=>@cardpicback,:shop=>@shoppage }%>
		<script src="/js/jquery.min.js"></script>
		<script src="/js/jquery.mobile-1.4.2.min.js"></script>
		<script src="/js/tempo.js"></script>
		<script src="/js/jquery.notific8.min.js"></script>
		<script src="/js/cardguest.js"></script>
	<body>
</html>